.checkbox {
  .title {
    height: 70px;
    background-color: aqua;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    font-size: 20px;
    text-transform: uppercase;
  }
  .content {
    height: 100px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }

  .switch {
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
    border: 1px solid blue;
  
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      background: transparent;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: blue;
    }
  
    &:checked {
      &:after {
        left: 20px;
        background: blue;
      }
    }
  }
}

